[Unit]
Description=Run sysboost for Kunpeng CPU
Requires=sysboost.service
After=sysboost.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sysboostd

[Install]
WantedBy=multi-user.target